<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Welcome to the Library</title>
  </head>
  <body>
    <ul class="nav nav-pills nav-fill">
      {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Library</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="loginstu">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="registerstu">Register</a>
      </li>
    </ul>
    {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="issue">Issue</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="return_item">Return</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="logout">Logout</a>
                  </li>
                  {% endif %}
              </ul>
              {% block search %}

              {% endblock %}
          </div>
          {% if user.is_authenticated %}
          <a class="mx-auto" style="width: 200px;" href="/">Welcome {{request.user.first_name}}</a>
          {% endif %}
      </div>
      </ul>
      <div class="text-center">
        <h3>
          Welcome to Library
          <small class="text-muted">Your search for book ends here</small>
        </h3>
      
        <divclass="row">
          <div id="carouselExampleFade" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://source.unsplash.com/random/200×200/?library" class="d-block w-100" alt="...">
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>

   </body>
</html>
