<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Welcome to the Library</title>
  </head>
  <body>
    <ul class="nav nav-pills nav-fill">
      {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Library</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="loginstu">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="registerstu">Register</a>
      </li>
    </ul>
    {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" href="issue">Issue</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="return_item">Return</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="logout">Logout</a>
                  </li>
                  {% endif %}
              </ul>
              {% block search %}

              {% endblock %}
          </div>
          {% if user.is_authenticated %}
          <a class="mx-auto" style="width: 200px;" href="/">Welcome {{request.user.first_name}}</a>
          {% endif %}
      </div>
      </ul>
   </body>
   <br>
   {% for message in messages %}
<div class="alert alert-{{message.tags}} rounded-0" role="alert">
  {{message}}
</div>
{% endfor %}
<center>
  <br />
  <h1 class="display-5 fw-bold">Available Books</h1>
  <br />
  <div class="input-group container">
    <input
      id="search"
      type="search"
      class="form-control rounded"
      placeholder="Search Book"
      aria-label="Search"
      aria-describedby="search-addon"
    />
  </div>
</center>
<br />
<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th class="" scope="col-6">Book Name</th>
        <th class="" scope="col-4">Author Name</th>
        <th class="" scope="col-2">Issue</th>
      </tr>
    </thead>
    <tbody id="table_data">
      {% for d in data %}
      <tr>
        <td>{{d.btitle}}</td>
        <td>{{d.bauthor}}</td>
        <td>
          <center>
            <form action="issue" method="post">
              {% csrf_token %}
              <input type="hidden" name="bid" value="{{d.bid}}" />
              <button type="submit" class="btn btn-outline-success btn-sm">
                <b>Issue</b>
              </button>
            </form>
          </center>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
   </html>